@model Quiz

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Enter New Topic</h2>
            <hr/>
        </div>
         <div asp-validation-summary="ModelOnly"></div> 
        <div class="mb-3 row p-1">
            <label asp-for="Topic" class="p-0" ></label>
            <input asp-for="Topic" class="form-control"/>     @* //asp-for tag helper *@
            <span asp-validation-for="Topic" class="text-danger"></span>

        </div>
         
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3 ">
                <a asp-controller="Quiz" asp-action="Index" class="btn btn-outline-secondary form-control ">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>
//if the parial view is of js 
@section Scripts{  
    @{              //razor syntax
    <partial name="_ValidationScriptsPartial"/>              //to consume partial view with the partial tag helper 
    }
}