@model Quiz

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Topic</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row p-1">
            @*<label asp-for="quiz_id" class="p-0"></label>*@
            <input asp-for="quiz_id" class="form-control visually-hidden" />     @* //asp-for tag helper *@
            <span asp-validation-for="quiz_id" class="text-danger"></span>

        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Topic" class="p-0"></label>
            <input asp-for="Topic" class="form-control" />     @* //asp-for tag helper *@
            <span asp-validation-for="Topic" class="text-danger"></span>

        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3 ">
                <a asp-controller="Quiz" asp-action="Index" class="btn btn-outline-secondary form-control ">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        //razor syntax
        <partial name="_ValidationScriptsPartial" />
        //to consume partial view with the partial tag helper
    }
}